<h1>List of Bands That have played at @Model["venues"].GetVenue()</h1>
@if (Model["venueBands"].Count == 0)
{
  <p>No bands have played here yet.</p>
}
else
{
  <ul>
    @foreach(var band in Model["venueBands"])
    {
      <li>@band.GetBand()</li>
    }
  </ul>
}
<h3>Add new band to Venue</h3>
<select>
    <!-- <label for="band_name"></label> -->
    <option value="band_name">@Model["bands"]</option>
    <button type="submit">Submit</button>
</select>
<p><a href="/">View all venues</a></p>
